<!DOCTYPE html>
<html lang="{{lang}}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body style="background: #000; color: #fff;">
{{>header}}

<div style="padding: 24px;">
{{{body}}}
</div>

{{>footer}}
</body>
</html>