input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus {
  transition: background-color 500000s ease-in-out 0s, color 500000s ease-in-out 0s !important;
  transition-delay: background-color 500000s, color 500000s;

  background-color: transparent !important;
}